@model RentApart.ViewModels.AppartmentEditViewModel

@*@model RentApart.Models.Appartment.apartment*@

@{
    ViewBag.Title = "Edit";
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Oglasi
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-edit"></i> Početna</a></li>
            <li class="active">Oglasi</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Izmeni oglas</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->


                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.AppartmentId)
                            @Html.HiddenFor(model => model.UserId)

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-5">
                                    <input type="submit" value="Sačuvaj" class="btn btn-primary" />
                                    <button class="btn btn-light">@Html.ActionLink("Odustani", "Index")</button>
                                </div>
                            </div>
                            <div class="row align-items-start">
                                <div class="col">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Floor, htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Floor, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Rooms, htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Rooms, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NumberOfFloors, htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.NumberOfFloors, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Heating, htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Heating, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Deposit, htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Deposit, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MaximumNumberOfTenants, htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.MaximumNumberOfTenants, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.YearOfConstruction, htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.YearOfConstruction, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row align-items-start">
                                        <div class="col">
                                            @Html.LabelFor(model => model.Renovated, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                <select class="form-select form-select-sm sobe" aria-label=".form-select-sm example">
                                                    <option value="Da">Da</option>
                                                    <option value="Ne">Ne</option>
                                                </select>
                                            </div>

                                            @Html.LabelFor(model => model.Furnishing, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                <select class="form-select form-select-sm sobe" aria-label=".form-select-sm example">
                                                    <option value="Namešten">Namešten</option>
                                                    <option value="Polu-namešten">Polu-namešten</option>
                                                    <option value="Prazan">Prazan</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NumberOfBedrooms, htmlAttributes: new { @class = "control-label col-md-12" })
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.NumberOfBedrooms, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NumberOfBathrooms, htmlAttributes: new { @class = "control-label col-md-12" })
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.NumberOfBathrooms, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.DistanceFromCenter, htmlAttributes: new { @class = "control-label col-md-12" })
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.DistanceFromCenter, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.MinimumLeaseLength, htmlAttributes: new { @class = "control-label col-md-12" })
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.MinimumLeaseLength, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PaymentDue, htmlAttributes: new { @class = "control-label col-md-12" })
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.PaymentDue, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Available, htmlAttributes: new { @class = "control-label col-md-12" })
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.Available, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.type, htmlAttributes: new { @class = "control-label col-md-12" })
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.type, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                            <hr />

                            @foreach (var item in Model.Pictures)
                            {
                        <div>
                            <img src="data:image/jpeg;base64,@item" width="200" height="200" class="rounded float-start" style="padding: 5px 5px 5px 5px;">
                            @*<input type="hidden" name="Id" value="" />
                            <input type="submit" value="Delete" onclick="setDeletedId('@item')" />*@
                        </div>
                            }
                        </div>

                        <br />

                    }

                    @using (Html.BeginForm("AddPicture", "Appartment", FormMethod.Post,
                                    new { enctype = "multipart/form-data" }))
                    {
                        <div>
                            <br />
                            <input type="file" name="file" id="file" style="width: 100%;" /> <br />
                            <input type="number" name="appartmentId" value="@Model.AppartmentId" id="appartmentId" hidden />
                            <input type="submit" value="Upload" class="submit" />
                        </div>
                    }


                </div>
            </div>
        </div>
    </section>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*<script>
    function setDeletedId(deletedId) {
        var hidden = document.getElementById("Id");
        hidden.value = deletedId;    }

</script>*@