@model RentApart.ViewModels.ApartmentIndexViewModel.ApartmentViewModel


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Oglasi
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-edit"></i> Početna</a></li>
            <li class="active">Dodaj novi</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Dodaj novi</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <!-- form start -->
                    @using (Html.BeginForm("Create", "Apartment", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <form role="form" id="forma">

                            <div class="box-body">
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <p class="text-success">@ViewBag.StatusMessage</p>

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary" id="sacuvaj">Sačuvaj</button>
                                    <button class="btn btn-light">@Html.ActionLink("Odustani", "Index")</button>
                                </div>

                                <div class="row align-items-start">
                                    <div class="col">

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                <select class="selectCity select2 form-control" id="city" name="state">
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                <select class="selectCity select2Address form-control" id="address" name="state">
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                <select class="selectCity select2Number form-control" name="state">
                                                </select>
                                                @Html.HiddenFor(model => model.AddressNumberId, new { id = "brojA" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Floor, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Floor, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Floor, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Rooms, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Rooms, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NumberOfFloors, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.NumberOfFloors, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Heating, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Heating, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Deposit, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Deposit, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MaximumNumberOfTenants, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.MaximumNumberOfTenants, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.YearOfConstruction, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.YearOfConstruction, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row align-items-start">
                                            <div class="col">
                                                @*<div class="form-group">
                                                        @Html.LabelFor(model => model.Renovated, htmlAttributes: new { @class = "control-label col-md-6" })
                                                        <div class="col-md-10">
                                                            <div class="checkbox">
                                                                @Html.EditorFor(model => model.Renovated)
                                                                @Html.ValidationMessageFor(model => model.Renovated, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>*@
                                                @Html.LabelFor(model => model.Renovated, htmlAttributes: new { @class = "control-label col-md-6" })
                                                <div class="col-md-10">
                                                    <select class="form-select form-select-sm renoviran" aria-label=".form-select-sm example">
                                                        <option value="1">Da</option>
                                                        <option value="0" selected>Ne</option>
                                                    </select>
                                                    @Html.HiddenFor(model => model.Renovated, new { id = "renoviran" })
                                                </div>

                                                @Html.LabelFor(model => model.Furnishing, htmlAttributes: new { @class = "control-label col-md-6" })
                                                <div class="col-md-10">
                                                    <select class="form-select form-select-sm namesten" aria-label=".form-select-sm example">
                                                        <option value="NAMEŠTEN" selected>NAMEŠTEN</option>
                                                        <option value="POLU-NAMEŠTEN">POLU-NAMEŠTEN</option>
                                                        <option value="PRAZAN">PRAZAN</option>
                                                    </select>
                                                    @Html.HiddenFor(model => model.Furnishing, new { id = "namesten" })
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.NumberOfBedrooms, htmlAttributes: new { @class = "control-label col-md-12" })
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.NumberOfBedrooms, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.NumberOfBathrooms, htmlAttributes: new { @class = "control-label col-md-12" })
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.NumberOfBathrooms, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.DistanceFromCenter, htmlAttributes: new { @class = "control-label col-md-12" })
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.DistanceFromCenter, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.MinimumLeaseLength, htmlAttributes: new { @class = "control-label col-md-12" })
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.MinimumLeaseLength, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col">

                                                <!-- Date -->
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.PaymentDue, htmlAttributes: new { @class = "control-label col-md-12" })
                                                    <div class="input-group date">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>

                                                        @Html.EditorFor(model => model.PaymentDue, new { htmlAttributes = new { @class = "form-control pull-right datepicker" } })
                                                    </div>
                                                    <!-- /.input group -->
                                                </div>




                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Available, htmlAttributes: new { @class = "control-label col-md-12" })
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.Available, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.type, htmlAttributes: new { @class = "control-label col-md-12" })
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.type, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>




                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </form>
                    }
                </div>
            </div>
        </div>
    </section>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>

    $('.select2').select2({
        placeholder: "Izaberite mesto",
        dataType: 'json',
        minimumInputLength: 2,
        allowClear: true,
        ajax: {
            url: "/Apartment/GetCities",
            data: function (params) {
                return {
                    grad: params.term// search term
                };
            },
            processResults: function (data) {
                return {
                    results: $.map(data, function (item) {
                        return {
                            text: item.City + ', ' + item.Mun,
                            id: item.LocationId,

                        }
                    })
                };
            }
        }
    });

    cityId = $("#city").val();

    $('.select2Address').select2({
        placeholder: "Izaberite adresu",
        dataType: 'json',
        minimumInputLength: 2,
        allowClear: true,
        ajax: {
            url: "/Apartment/GetAddress",
            data: function (params) {
                cityId = $("#city").val();
                return {
                    adresa: params.term,// search term
                    cityId: cityId

                };
            },
            processResults: function (data) {
                return {
                    results: $.map(data, function (item) {
                        return {
                            text: item.Address1,
                            id: item.AddressId
                        }
                    })
                };
            }
        }
    });




    $('.select2Number').select2({
        placeholder: "Izaberite broj",
        dataType: 'json',
        allowClear: true,
        ajax: {
            url: "/Apartment/GetNumber",
            data: function (params) {
                addressId = $("#address").val();
                return {
                    broj: params.term,// search term
                    addressId: addressId
                };
            },
            processResults: function (data) {
                return {
                    results: $.map(data, function (item) {
                        return {
                            text: item.Number,
                            id: item.NumberId
                        }
                    })
                };
            }
        }
    });

    $('.select2Number').on('change', function () {
        val = $('.select2Number').find(':selected').val();
        $('#brojA').val(val);
    });

    $('.renoviran').on('change', function () {
        val = $('.renoviran').find(':selected').val();
        $('#renoviran').val(val);
    });

    $('.namesten').on('change', function () {
        val = $('.namesten').find(':selected').val();
        $('#namesten').val(val);
    });



    //Date picker
    $('.datepicker').datepicker({
        autoclose: true
    })





</script>
